<div style="text-align: center" >

  <h1>
    SISTEM INFORMASI UAD
  </h1>
</div>
<ul>
  <li><a href="" routerLink="/home">Home</a></li>
  <li><a href="" routerLink="/student">Student</a></li>
  <li><a href="" routerLink="/teacher">Teacher</a></li>
</ul>


<h1> [ABIYOSO DIMAS RAMADHAN] </h1>
<h3>[1800016034]</h3>

<ul>
<li><a>Praktikum 3</a></li>
<li><a>Praktikum 4</a></li>
<li><a>Praktikum 5</a></li>
<li><a>Praktikum 6</a></li>
<li><a>Praktikum 7</a></li>
<li><a>Praktikum 8</a></li>
<li><a>Praktikum 9</a></li>
<li><a>Praktikum 10</a></li>
<ul>

   <router-outlet></router-outlet>